.App {
  background-color: #dfefff;
  height: 100%;
}

b {
  color: #0c477e;
}

.createNote {
  width: 200px;
  margin: 0 0 0 45%;
}

.title {
  margin: 0 0 5px 0;
}

.text {
  height: 100px;
  max-height: 100px;
}

.notes {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.table {
  margin: 20px 10% 0;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 100px;
}

.importance {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.paragraph {
  margin: 0;
  font-weight: 700;
}

.datepicker {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.importance-date {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.socket {
  margin: 0 10% 0 0;
  font-weight: 700;
  text-align: end;
}