.App {
  background-color: #dfefff;
  height: 100%;
}

b {
  color: #0c477e;
}

.create {
  display: flex;
  justify-content: center;
  padding: 10px 25%;
}

.createNote {
  width: 200px;
}

.ant-input-affix-wrapper {
  margin: 0 0 5px 0;
}

textarea.ant-input {
  height: 100px;
  max-height: 100px;
}

.notes {
  margin: 0px 5% 10px;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 100px;
}

.importance {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

p {
  margin: 0;
  font-weight: 700;
}

.datepicker {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.importance-date {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.ant-tabs-nav-list {
  margin: 0;
  height: 30px;
  padding: 0 40px 0 20px;
  font-weight: 700;
}
